# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# Docker
public/

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Visual Studio Code
.vscode/
